{% if analysis.pwnypot %}
<section id="pwnypot">
    {% if analysis.pwnypot.binaries %}
    <div class="tabbable tabs">
        <ul class="nav nav-pills" style="margin-bottom: 0;">
            {% if analysis.pwnypot.log_files %}
            <li class="active"><a href="#logs" data-toggle="tab">Log-files</a></li>
            {% endif %}
            {% for key,value in analysis.pwnypot.binaries.iteritems %}
            {% if value.shellcode or value.rop_chains or value.apis %}
            <li><a href="#{{value.pid}}" data-toggle="tab">PID {{value.pid}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="tab-content">
        {% for key,value in analysis.pwnypot.binaries.iteritems %}
        {% if value.shellcode or value.rop_chains or value.apis %}
        <div class="tab-pane fade in" id="{{value.pid}}">
            <section id="#pid_{{value.pid}}">
                <table class="table table-striped table-bordered">
                    <tr>
                        <td>
                            <h4>PID {{value.pid}}</h4>
                            <div id="bin_{{key}}" style="">
                                {% if value.apis %}
                                <h5>API Calls regarding ASLR/DEP mitigation</h5>
                                {% for item in value.apis %}
                                {{item}}<br>
                                {% endfor %}
                                {% endif %}

                                {% if value.rop_chains %}
                                <h5>ROP Analysis</h5>                                    
                                <div id="rop_{{key}}" style="">
                                    {% for chain in value.rop_chains %}
                                    <table class="table table-striped table-bordered">
                                        <tr>
                                            <td><h6>Module:</td><td>{{chain.module_name}}</h6></td>                                              
                                        </tr> 
                                        {% for gadget in chain.gadgets %}
                                        <tr>
                                            <td>Gadget @ Offset {{gadget.offset}}</td>
                                            <td><pre>{{gadget.instructions}}
                                                </pre>
                                            </td>
                                        </tr>
                                        {% if gadget.stack_values %}
                                        <tr>
                                            <td>Addresses outside of the Module</td>
                                            <td><pre>{% for s in gadget.stack_values %}[ {{s.0}} ]&#9;&#9;&#9;&#9;DB  {{s.1}}&#9;&#9;&#9;&#9;{{s.2}}<br>{% endfor %}
                                                </pre>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </table>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% if value.shellcode %}
                                <h5>Shellcode Analysis</h5>
                                <div id="sc_{{key}}" style="">
                                    <table class="table table-striped table-bordered">
                                        <tr>
                                            <td><h5>Filetype:</h5> {{value.shellcode.type}}</td>
                                            <td><h5>Filesize:</h5> {{value.shellcode.size}} bytes </td>
                                            <td><h5>Sha-1:</h5> {{value.shellcode.sha1}}</td>
                                            <td><h5>MD5</h5> {{value.shellcode.md5}}</td>
                                            <td><h5>Log:</h5> <span class="mono"><pre>{{value.log}}</pre></span></td>
                                        </tr>
                                    </table>
                                    <table class="table table-striped table-bordered">
                                        {% for exec in value.execs %}
                                        <tr>
                                            <td><h5>Cmds Executed:</h5></td><td><span class="mono"><pre>{{exec}}</pre></span></td>                                           
                                        </tr>
                                        {% endfor %}
                                        {% for download in value.downloads %}
                                        <tr>
                                            <td><h5>Downloads:</h5></td><td><span class="mono"><pre>{{download}}</pre></span></td>                                            
                                        </tr>
                                        {% endfor %}
                                        {% for key1,value1 in value.connections.iteritems %}
                                        <tr>
                                            <td>
                                                <h5>Network action on Socket {{key1}}:</h5>
                                            </td>
                                            <td>
                                                <span class="mono">
                                                {% for key2,value2 in value1.iteritems %}
                                                <h6>{{key2}}</h6>
                                                <pre>{% for key3, value3 in value2.iteritems %}{{key3}}:{{value3}}<br>{% endfor %}</pre>
                                                {% endfor %}
                                                </span>
                                            </td>                                            
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    <h5>Disassembled Shellcode:</h5>
                                    <div id="dis_{{key}}" style="">
                                        <table class="table table-striped table-bordered">
                                            <tr>
                                                <td><br><span class="mono"><pre>{{value.disass}}</pre></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                {% endif %}
                            </div>                           
                        </td>                        
                    </tr>
                </table>
            </section>
        </div>
        {% endif %}
        {% endfor %}    

    {% if not analysis.pwnypot.log_files %}
    </div>
    {% endif %}
    {% endif %}


    {% if analysis.pwnypot.log_files %}
    {% if not analysis.pwnypot.binaries %}
    <div class="tab-content">
    {%endif %}
        <div class="tab-pane fade in active" id="logs">
            <section id="#section_logs">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Log-Files</th>
                    </tr>
                    {% for key,value in analysis.pwnypot.log_files.iteritems %}
                    <tr>
                        <td>
                            <h4><a href="javascript:showHide('log_{{key}}');">{{key}}</a></h4>
                            <div id="log_{{key}}" style="">
                                <table class="table table-striped table-bordered">
                                    <tr>
                                        <td><span class="mono"><pre>{{value}}</pre></span></td>
                                    </tr>
                                </table>
                            </div>                            
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
        </div>
    {% endif %}            
   </div>
</section>
{% endif%}